---
import { getCollection } from 'astro:content';
import BlogLayout from '../../layouts/BlogLayout.astro';

// Fetch all blog posts
export async function getStaticPaths() {
  const blogs = await getCollection('blog');

  return blogs.map((post) => ({
    params: { slug: post.slug },
  }));
}

// Get the slug from the route parameters
const { slug } = Astro.params;

// Fetch all blogs
export const blogs = await getCollection('blog');

// Find the blog that matches the slug
const post = blogs.find((p) => p.slug === slug);

if (!post) {
  throw new Error(`Blog post not found for slug: ${slug}`);
}

// Render the Markdown content
const { Content } = await post.render();

// other styling 
import Navbar from '../../components/Navbar';
import Layout from '../../layouts/Layout.astro';
import Footer from "../../components/Footer";
import Spacing from '../../components/Spacing';
import BlogSection from '../../components/BlogSection';
---
<Layout>
<Navbar showNavManu={false}/>
<BlogLayout title={post.data.title} description={post.data.description}>
  <div class="blog-page mx-5 md:mx-[10vw] my-[2.5rem] md:my-[10rem]">
  <img src={post.data.image} alt={`${post.data.title} image`} class="card md:max-h-[600px] mx-auto"/>
  <h1 class="text-5xl mt-[2rem] font-semibold">{post.data.title}</h1>
  <p class="italic text-[#CFCFCF]">{post.data.description}</p>
  <div class="h-[30px] w-full"></div>
  <Content />
</div>
</BlogLayout>
<BlogSection blogs={blogs}/>
<Footer/>
<Spacing/>
</Layout>